body {
    background: #e3e3e3;
    font-family: calibri;
}

#main {
    width: 15%;
    position: fixed;
    left:50px;
    margin: auto;
    text-align: left;
    padding: 50px 60px;
    border: solid #fff;
    border-width: 0px 15px 15px 15px;
    z-index:3;
}

#maincar {
    width: 15%;
    position: fixed;
    left:50px;
    top:500px;
    z-index:4;
}


h1 {
    margin-top: 0;
    font-size: 35px;
    font-weight: bold;
    color:#E77003;
}

h2 {
    font-size: 20px;
    color: #555;
}

h3 {
    font-size: 24px;
    color: #eee;
    font-weight:bold;
    padding-top: 20px;
}

a:link {
    color: #319D9A;
}

a:hover {
    color: #000;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

// Don't touch this part. It helps.
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

// In this case, I didn't want a scrollbar, so I used overflow: hidden. The container element is more essential than ever, though. The body element will not do.
div.horizontal {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: static;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.table > section {
    width: 1600px; // The width is based on my monitor. It's replaced by jQuery anyway. Percentage widths do not work.
    height: 100%;
    display: table-cell;
    background: #e3e3e3;
    vertical-align: middle;
    text-align: center;
}



#road {
    z-index:2;
    position:absolute;
    bottom:0px;
    width: 1600px;
    height:200px;
    background:#555;
}

#buildingholder {
    z-index:1;
    position:absolute;
    bottom:200px;
    width:1600px;
    height:150px;
    margin-left: 300px;
}

.building {
    position: absolute;
    float: left;
    width:100px;
    /*height:150px;*/
    background-color: #000;
    /*bottom: 100%;*/
    bottom: 0px;
    vertical-align: bottom;
    margin-top: auto;
}

.building:before{
    display: block;
}

.buildFrame {
    position: relative;
    float: left;
    width: 100px;
    height: 100%;
    margin-right:20px;
    bottom: 0px;
    vertical-align: bottom;
}

img {
    vertical-align: bottom;
}